# User-specific stuff
.idea/
*.iml
*.ipr
*.iws

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

*~

# Icon must end with two \r
Icon

# Thumbnails
._*

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
EnviroMine-1.7-master
